[submodule "node_modules/connect"]
	path = node_modules/connect
	url = git://github.com/senchalabs/connect.git
[submodule "node_modules/express"]
	path = node_modules/express
	url = git://github.com/visionmedia/express.git
[submodule "node_modules/qs"]
	path = node_modules/qs
	url = git://github.com/visionmedia/node-querystring.git
[submodule "node_modules/mime"]
	path = node_modules/mime
	url = git://github.com/bentomas/node-mime.git
[submodule "node_modules/ejs"]
	path = node_modules/ejs
	url = git://github.com/visionmedia/ejs.git
[submodule "node_modules/now"]
	path = node_modules/now
	url = git://github.com/Flotype/now.git
[submodule "node_modules/socket.io"]
	path = node_modules/socket.io
	url = git://github.com/LearnBoost/Socket.IO-node.git
[submodule "node_modules/node-proxy"]
	path = node_modules/node-proxy
	url = git://github.com/samshull/node-proxy.git
[submodule "node_modules/connect-auth"]
	path = node_modules/connect-auth
	url = git://github.com/ciaranj/connect-auth.git
[submodule "node_modules/oauth"]
	path = node_modules/oauth
	url = git://github.com/ciaranj/node-oauth.git
[submodule "node_modules/cookie-sessions"]
	path = node_modules/cookie-sessions
	url = git://github.com/caolan/cookie-sessions.git
[submodule "node_modules/facebook-js"]
	path = node_modules/facebook-js
	url = git://github.com/masylum/facebook-js.git
