<!DOCTYPE html> 
<html>
<head>
    <title>Color game</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <script src="http://static.ak.fbcdn.net/connect/en_US/core.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var userid   = <%=userid %>;
        var username = "<%=username %>";
        var auth_url = "<%=auth_url %>";
    </script>
    <script src="/jquery.humanmsg.js"></script>
    <script src="/board.js"></script>
    <script src="/main.js"></script>
</head>
<body>
    <div id="wrap">
        <div id="leftcolumn"></div>
        <div id="board"></div>
    </div>
</body>
</html>
