<html>
<head>
    <script src="http://static.ak.fbcdn.net/connect/en_US/core.js"></script>
</head>
<body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
/*        var socket = new io.Socket();
        socket.connect();
        socket.on('connect', function(){})
        socket.on('message', function(message){ alert(message); })
        socket.send("my");
        socket.on('disconnect', function(){})
*/
    </script>
    Hello from EJS

<div class="fb_button" id="fb-login" style="float:left; background-position: left -188px">
    <a href="/auth/facebook" class="fb_button_medium">
        <span id="fb_login_text" class="fb_button_text">Connect with Facebook</span>
    </a>
</div>
</body>
</html>